<!-- 店舗の情報をdaisyUIのcardコンポーネントで表示するパーシャル -->
<div class="card bg-white w-full h-auto sm:h-[300px] border-[2px] border-primary rounded-md overflow-hidden">
  <!-- 店舗概要を表示する部分 -->
  <div class="card-body text-black shadow-md p-4 sm:p-6">
    <div class="flex flex-col items-center sm:items-stretch justify-between h-full space-y-4 sm:space-y-0">
      <!-- Google Mapsの評価とブックマークボタン -->
      <div class="flex items-center justify-between w-full">
        <div class="flex items-center space-x-2">
          <i class="fa-solid fa-star text-lg sm:text-xl"></i>
          <% if bookmarked_store.rating.present? %>
            <p class="text-sm text-black"><%= bookmarked_store.rating %></p>
          <% else %>
            <p class="text-sm text-black">-</p>
          <% end %>
        </div>

        <!-- ブックマークボタン -->
        <div class="flex flex-row text-accent text-lg sm:text-xl">
          <%= render 'stores/bookmark_buttons', store: bookmarked_store %>
        </div>
      </div>

      <!-- 店舗名 -->
      <div class="flex justify-center items-center self-center space-x-4 py-2">
        <i class="fa-solid fa-mug-saucer text-lg sm:text-xl"></i>
        <p class="text-black font-bold text-sm sm:text-base"><%= bookmarked_store.name %></p>
      </div>

      <!-- 店舗の詳細情報へのリンク -->
      <div class="text-center w-full">
        <%= link_to t('profiles.show.to_show_store'), store_path(bookmarked_store), class: "btn btn-primary w-full sm:w-[200px] h-[44px] sm:h-[50px]" %>
      </div>
    </div>
  </div>
</div>
