<div class="flex flex-col items-center w-full text-center">
  <h2 class="w-full text-3xl font-heading font-bold">ブルーマウンテン</h2>
  <h4 class="w-full text-xl font-body mt-[30px]">産地：<b>ジャマイカ</b> 🇯🇲</h4>
  <div class="w-full mt-[30px] space-y-[10px] text-base font-body">
    <p>
      「コーヒー豆の王様」と呼ばれる銘柄で、卓越した芳ばしい香り、なめらかで口当たりが良く、<br>
      酸味・甘み・苦味・コクの絶妙なバランスが特徴のコーヒー豆です。
    </p>
    <p>
      「絶妙な味のバランス」が最大の特徴であるため、色んな人にオススメできるコーヒー豆です。
    </p>
  </div>
</div>