<div class="flex flex-col items-center w-full text-center">
  <h2 class="w-full text-2xl sm:text-3xl md:text-4xl font-heading font-bold">ブルーマウンテン</h2>
  <h4 class="w-full text-base sm:text-lg font-body mt-4 sm:mt-6">産地：<b>ジャマイカ</b> 🇯🇲</h4>
  <div class="w-full mt-4 sm:mt-6 space-y-3 sm:space-y-4 text-sm sm:text-base font-body">
    <p>
      「コーヒー豆の王様」と呼ばれる銘柄で、卓越した芳ばしい香り、なめらかで口当たりが良く、<br>
      酸味・甘み・苦味・コクの絶妙なバランスが特徴のコーヒー豆です。
    </p>
    <p>
      「絶妙な味のバランス」が最大の特徴であるため、色んな人にオススメできるコーヒー豆です。
    </p>
  </div>

  <!-- Xで診断結果を共有するためのリンク -->
  <div class="text-center mt-4 sm:mt-6">
    <%= link_to "https://twitter.com/share?url=#{production_url}&text=私のコーヒー豆診断の結果は「ブルーマウンテン」でした！%0a%0a&hashtags=コーヒー豆診断,ブルーマウンテン", target: "_blank", title: "Xでシェア", class: "inline-block p-3 rounded-lg" do %>
      <i class="fa-brands fa-square-x-twitter text-5xl sm:text-6xl"></i>
    <% end %>
  </div>
</div>
