<div class="flex flex-col items-center w-full text-center">
  <h2 class="w-full text-3xl font-heading font-bold">コロンビア・エメラルドマウンテン</h2>
  <h4 class="w-full text-xl font-body mt-[30px]">産地：<b>コロンビア</b> 🇨🇴</h4>
  <div class="w-full mt-[30px] space-y-[10px] text-base font-body">
    <p>
      フルーツのような芳醇な香り、柑橘系のフルーツのような甘みと酸味、<br>
      深いコクが特徴のコーヒー豆です。
    </p>
    <p>
      また、苦味と酸味のバランスも取れていて、クセが少なくスッキリとした味わいです。
    </p>
    <p>
      エメラルドマウンテンは、コロンビアで生産されるコーヒー豆の中でも1~3%程度しかありません。FNC（コロンビアコーヒー生産者連合）の厳しい品質検査により認定され、世界的にも最高等級のコーヒー豆です。
    </p>
  </div>
</div>