<div class="flex flex-col items-center w-full text-center">
  <h2 class="w-full text-3xl font-heading font-bold">キューバ・クリスタルマウンテン</h2>
  <h4 class="w-full text-xl font-body mt-[30px]">産地：<b>キューバ</b> 🇨🇺</h4>
  <div class="w-full mt-[30px] space-y-[10px] text-base font-body">
    <p>
      ナッツのような香ばしさ、ほのかな酸味、<br>
      まろやかなコクと甘みによるソフトな口当たりが特徴のコーヒー豆です。
    </p>
    <p>
      産地であるキューバのエスカンブライ山脈の石英岩が、朝露にぬれてキラキラと光ることから、<br>
      「クリスタルのような山で採れるコーヒー」という意味を込めて、<br>
      「クリスタルマウンテン」と名付けられました。
    </p>
    <p>
      全体的にクリアで癖のない味なので、さっぱりとしたコーヒーが飲みたい時にオススメです。
    </p>
  </div>
</div>