<div class="flex flex-col items-center w-full text-center">
  <h2 class="w-full text-2xl sm:text-3xl md:text-4xl font-heading font-bold">キューバ・クリスタルマウンテン</h2>
  <h4 class="w-full text-base sm:text-lg font-body mt-4 sm:mt-6">産地：<b>キューバ</b> 🇨🇺</h4>
  <div class="w-full mt-4 sm:mt-6 space-y-3 sm:space-y-4 text-sm sm:text-base font-body">
    <p>
      ナッツのような香ばしさ、ほのかな酸味、<br>
      まろやかなコクと甘みによるソフトな口当たりが特徴のコーヒー豆です。
    </p>
    <p>
      産地であるキューバのエスカンブライ山脈の石英岩が、朝露にぬれてキラキラと光ることから、<br>
      「クリスタルのような山で採れるコーヒー」という意味を込めて、<br>
      「クリスタルマウンテン」と名付けられました。
    </p>
    <p>
      全体的にクリアで癖のない味なので、さっぱりとしたコーヒーが飲みたい時にオススメです。
    </p>
  </div>

  <!-- Xで診断結果を共有するためのリンク -->
  <div class="text-center mt-4 sm:mt-6">
    <%= link_to "https://twitter.com/share?url=#{production_url}&text=私のコーヒー豆診断の結果は「キューバ・クリスタルマウンテン」でした！%0a%0a&hashtags=コーヒー豆診断,キューバ・クリスタルマウンテン", target: "_blank", title: "Xでシェア", class: "inline-block p-3 rounded-lg" do %>
      <i class="fa-brands fa-square-x-twitter text-5xl sm:text-6xl"></i>
    <% end %>
  </div>
</div>
