<div class="flex flex-col items-center w-full text-center">
  <h2 class="w-full text-3xl font-heading font-bold">ゲイシャ</h2>
  <h4 class="w-full text-xl font-body mt-[30px]">産地：<b>エチオピア</b> 🇪🇹  <b>パナマ</b> 🇵🇦</h4>
  <div class="w-full mt-[30px] space-y-[10px] text-base font-body">
    <p>
      フローラルな香り、柑橘系のフルーツのようなフレッシュな酸味、<br>
      南国系のフルーツや蜂蜜のような甘みが特徴のコーヒー豆です。
    </p>
    <p>コーヒーでありながら、軽やかで紅茶のような風味を楽しみたい人にピッタリです。</p>
    <p>ゲイシャの特徴を最大限に活かすために、浅煎り、かつブラックで飲むのがオススメです。</p>
  </div>
</div>