<div class="flex flex-col items-center w-full text-center">
  <h2 class="w-full text-2xl sm:text-3xl md:text-4xl font-heading font-bold">ゲイシャ</h2>
  <h4 class="w-full text-base sm:text-lg font-body mt-4 sm:mt-6">産地：<b>エチオピア</b> 🇪🇹  <b>パナマ</b> 🇵🇦</h4>
  <div class="w-full mt-4 sm:mt-6 space-y-3 sm:space-y-4 text-sm sm:text-base font-body">
    <p>
      フローラルな香り、柑橘系のフルーツのようなフレッシュな酸味、<br>
      南国系のフルーツや蜂蜜のような甘みが特徴のコーヒー豆です。
    </p>
    <p>コーヒーでありながら、軽やかで紅茶のような風味を楽しみたい人にピッタリです。</p>
    <p>ゲイシャの特徴を最大限に活かすために、浅煎り、かつブラックで飲むのがオススメです。</p>
  </div>

  <!-- Xで診断結果を共有するためのリンク -->
  <div class="text-center mt-4 sm:mt-6">
    <%= link_to "https://twitter.com/share?url=#{production_url}&text=私のコーヒー豆診断の結果は「ゲイシャ」でした！%0a%0a&hashtags=コーヒー豆診断,ゲイシャ", target: "_blank", title: "Xでシェア", class: "inline-block p-3 rounded-lg" do %>
      <i class="fa-brands fa-square-x-twitter text-5xl sm:text-6xl"></i>
    <% end %>
  </div>
</div>
