<div class="flex flex-col items-center w-full text-center">
  <h2 class="w-full text-3xl font-heading font-bold">グアテマラ</h2>
  <h4 class="w-full text-xl font-body mt-[30px]">産地：<b>グアテマラ</b> 🇬🇹</h4>
  <div class="w-full mt-[30px] space-y-[10px] text-base font-body">
    <p>
      花のような芳ばしい香り、果物を思わせるやや強めの酸味、<br>
      力強いコク、すっきりとした後味が特徴のコーヒー豆です。
    </p>
    <p>
      グアテマラの特徴を楽しむためにも、<br>
      シングルオリジン（単一農園）の豆をストレートで飲むのがオススメです。
    </p>
  </div>
</div>