<div class="flex flex-col items-center w-full text-center">
  <h2 class="w-full text-3xl font-heading font-bold">マンデリン</h2>
  <h4 class="w-full text-xl font-body mt-[30px]">産地：<b>インドネシア・スマトラ島</b> 🇮🇩</h4>
  <div class="w-full mt-[30px] space-y-[10px] text-base font-body">
    <p>
      シナモンやハーブのような香り、重厚な苦味とコクが特徴のコーヒー豆です。
    </p>
    <p>
      マンデリンは酸味が少なく、力強い苦味とコクが特徴的なので、<br>
      苦味とコクを重視される方にオススメです。ケーキなどの甘味のお供にぜひ！
    </p>
  </div>
</div>