<div class="flex flex-col items-center w-full text-center">
  <h2 class="w-full text-3xl font-heading font-bold">モカ</h2>
  <h4 class="w-full text-xl font-body mt-[30px]">産地：<b>エチオピア</b> 🇪🇹  <b>イエメン</b> 🇾🇪</h4>
  <div class="w-full mt-[30px] space-y-[10px] text-base font-body">
    <p>
      「モカ香」とも言われるフルーティかつスパイスのような複雑な香り、<br>
      フルーツのような酸味と甘み、そして程よいコクが特徴のコーヒー豆です。
    </p>
    <p>
      エチオピア産では「モカハラー」・「モカシダモ」・「モカイルガチェフェ」、<br>
      イエメン産では「モカマタリ」などの銘柄が有名です。
    </p>
    <p>
      一般的にブレンドで飲まれる方が多いかと思いますが、<br>
      ぜひストレートでも楽しんでみてください。
    </p>
  </div>
</div>