<div class="flex flex-col items-center w-full text-center">
  <h2 class="w-full text-3xl font-heading font-bold">ベトナム</h2>
  <h4 class="w-full text-xl font-body mt-[30px]">産地：<b>ベトナム</b> 🇻🇳</h4>
  <div class="w-full mt-[30px] space-y-[10px] text-base font-body">
    <p>
      控えめな酸味、強い苦味と渋み、深いコクが特徴のコーヒー豆です。
    </p>
    <p>
      ベトナムは世界第2位のコーヒー生産量を誇り、他の生産国の豆とのブレンドとして使われることが多く、缶コーヒーやインスタントコーヒーの原料とされることが一般的です。
    </p>
    <p>
      ベトナムで生産されるコーヒー豆のうち、約90%は比較的栽培が簡単なロブスタ種で、<br>
      これが缶コーヒーやインスタントコーヒーの原料とされます。
    </p>
    <p>
      しかし近年では、アラビカ種や質の高いロブスタ種の栽培も行われています。<br>
      ベトナム産コーヒーをストレートで楽しみたいとなった場合は、こちらをオススメします！
    </p>
    <p>
      銘柄としては、「エバーグリーン」や「ルビーマウンテン」などがオススメです。
    </p>
  </div>
</div>