<div class="navbar bg-accent w-full h-[100px] px-[40px] text-base-100 font-body">
  <div class="navbar-start flex-none font-bold">
    <span class="font-bold"><%= t('footer.copyright') %></span>
    <%#= link_to "お問い合わせ", "#" %>
    <%#= link_to "利用規約", "#" %>
    <%#= link_to "プライバシーポリシー", "#" %>
  </div>
  <!-- 右側：XとGitHubへのリンク -->
  <div class="navbar-end flex-none space-x-[30px]">
    <%= link_to "https://x.com/basket_blhlc", target: :_blank do%>
      <i class="fa-brands fa-x-twitter text-[40px]"></i>
    <% end %>
    <%= link_to "https://github.com/Ykarz", target: :_blank do%>
      <i class="fa-brands fa-github text-[40px]"></i>
    <% end %>
  </div>
</div>
